services:
  prometheus:
    image: prom/prometheus:latest
    container_name: prometheus
    network_mode: "host"
    volumes:
      - ./prometheus.yml:/etc/prometheus/prometheus.yml:ro
    # tailsclaeとのポート競合とnetworkmodeを同時に
    command:
          - '--config.file=/etc/prometheus/prometheus.yml'
          - '--web.listen-address=:9091'
  grafana:
    image: grafana/grafana:latest
    container_name: grafana
    network_mode: "host"
    #ports:
    #  - "3000:3000"
    environment:
      - GF_SECURITY_ADMIN_USER=admin
      - GF_SECURITY_ADMIN_PASSWORD=admin
    depends_on:
      - prometheus

  node-exporter: # 9100
    image: quay.io/prometheus/node-exporter:latest
    container_name: node-exporter
    command:
      - '--path.rootfs=/host'
    network_mode: "host"
    pid: "host"
    restart: unless-stopped
    volumes:
      - '/:/host:ro,rslave'

# Tailscale環境下でのパケットドロップ（タイムアウト）を防ぐためのMTU設定
networks:
  default:
    driver: bridge
    driver_opts:
      com.docker.network.driver.mtu: 1280
